{% extends "base.html" %}
{% load static %}
{% block title %}
Thanks - Custom Guitar Shop
{% endblock %}
{% block content %}
<div>
    <div class="text-center text-light">
        <br>
        <br>
        <h1 class="text-center my_title">
            Thanks for placing your order
        </h1>
        <br>
        <br>
        <p>Your order number is: <b>{{ customer_order.id }}</b></p>
        <br>
        <p>
            Thank you for choosing Custom Guitars. Your order details are being processed and you will receive a confirmation email shortly.
        </p>
        <br>
        <p>Order Details:</p>
        <ul>
            {% for item in customer_order.orderitem_set.all %}
                <li>{{ item.product }} - Quantity: {{ item.quantity }} - Price: {{ item.price }}</li>
            {% endfor %}
        </ul>
        <p>Total: {{ customer_order.total }}</p>
    </div>
</div>
<br>
<br>
{% endblock %}
