{% extends "base.html" %}
{% load static %}
{% block title %}
Thanks - Perfect Cushion Store
{% endblock %}
{% block content %}
<div>
    <div class="text-center text-light">
        <br>
        <br>
        <h1 class="text-center my_title">
            Thanks for placing your order
        </h1>
        <br>
        <br>
        <p>Your order number is: <b>{{ customer_order.id }}</b></p>
        <br>
        <p>
            Thank you for choosing Custom Guitars you'r order details are being processed and you will receive a confirmation email shortly.
        </p>
    </div>
</div>
<br>
<br>
{% endblock %}