{% extends 'base.html' %} 
{% block title %}2FA{% endblock title %} 

{% block content %}
<div class="text-light mt-5 px-5">
    <h2>Please enter your One Time Password</h2>
    {% if error_message%}
      <div class="text-light px-5 mt-5">
        <p >{{error_message}}</p>
      </div>
    {%endif%}
    <form method="post">
      {% csrf_token %} 
      <input type="text" name="otp" required>
      <button type="submit">Submit</button>
        
    </form>
  </div>
</div>

{% endblock content %}
