{% extends 'base.html' %} 
{% block title %}2FA{% endblock title %} 

{% block content %}
<div class="text-light mt-5 px-5">
    <h2>Please enter your One Time Password</h2>
    {% if error_message%}
      <div class="text-light px-5 mt-5">
        <p >{{error_message}}</p>
      </div>
    {%endif%}
    <form class="d-flex flex-column"method="post">
      {% csrf_token %} 
      <div>
      <input name="otp" type="text" name="otp" required>
      </div>
      <div>
      <button class="btn btn-outline-light mb-2 mt-2"type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
