{% extends 'base.html' %}
{% block title %}Email sent{% endblock title %} 

{% block content %}
<div class=" OTP p-5 login d-flex flex-column text-light mt-5">
<div class = "text-light ">
<h3>Password reset link will be emailed to you shortly</h3>
<hr />
</br>
<p>Thank you for requesting to reset your password. We've received your request and are currently processing it. Please check your email inbox shortly for instructions on how to reset your password. If you don't receive an email within a few minutes, please check your spam folder. If you encounter any issues, feel free to contact our support team for assistance.</p>
</div>

{% endblock content %}