{% extends 'base.html' %}
{% block content %}
{% if validlink%}

 
{% block title %}Set New Password{% endblock title %} 

<div class=" OTP p-5  d-flex text-light mt-5">
<div class="text-light  px-5">
    <div class="text-light mt-5 px-5">
        <h2>Set new Password</h2>
        <form method="post">
          {% csrf_token %} 
    
          {{form.as_p}}
    
          <button class="btn btn-outline-light mb-2 mt-2" type="submit">Submit</button>

    
        </form>
      </div>
    </div>
{% else %}
<div class="text-light mt-5 px-5">
    <div class="text-light mt-5 px-5">
        <h2>Link is not valid</h2>
      </div>
    </div>

{% endif %}
{%endblock content%}

