{% extends 'base.html' %} 
{% block title %}Log In{% endblock title %} 

{% block content %}
<div class=" OTP p-5 login d-flex flex-column text-light mt-5">
  <div>
    <h2>Log In</h2>
  </div>
    {% if error_message%}
      <div class="text-light px-5 m-5">
        <p >{{error_message}}</p>
      </div>
    {%endif%}
      <form class="d-flex flex-column "method="POST">
      {% csrf_token %} 
      <div class="mb-3 justify-content-between d-flex">
        <label for="username">Username:</label>
          <input class="form" type="text" name="username" required></input>
      </div>
      <div class="mb-3 d-flex justify-content-between">
        <label for="password">Password:</label>
          <input class="form" type="text" name="password" required></input>
      </div>
     
      <div>
      <button class="btn btn-outline-light mb-2 mt-2" type="submit">Log In</button>
      </div>
    </form>

  <div class="d-flex justify-content-between">
    <div>
  <button class="btn btn-outline-light" type="submit">
    <a class="text-light link-underline link-underline-opacity-0"href="{% url 'password_reset' %}">Reset Password</a>
  </button>
</div>
  <div class="text-light">
    <button class="btn btn-outline-light" type="submit">
      <a href="{% url 'accounts:signup' %}"class="text-light link-underline link-underline-opacity-0">Signup</a>
    </button>
  </div>
</div>
</div>
</div>

{% endblock content %}
