{% extends 'base.html' %} 
{% block title %}Log In{% endblock title %} 

{% block content %}
<div class="text-light mt-5 px-5">
    <h2>Log In</h2>
    {% if error_message%}
      <div class="text-light px-5 mt-5">
        <p >{{error_message}}</p>
      </div>
    {%endif%}
      <form method="POST">
      {% csrf_token %} 
      <div>
        <label for="username">username:</label>
          <input class=form-control type="text" name="username" required></input>
      </div>
      <div>
        <label for="password">password:</label>
          <input class=form-control type="text" name="password" required></input>
      </div>
        </div>

      <button class="btn btn-success ml-2" type="submit">Log In</button>
      
      
    </form>
  </div>
  <button class="btn btn-success mt-5" type="submit">
    <a class="text-light link-underline link-underline-opacity-0"href="{% url 'password_reset' %}">Reset Password</a>
  </button>
  <div class="text-light px-5 mt-5">
    No account?
    <button class="btn btn-success mt-5" type="submit">
      <a href="{% url 'accounts:signup' %}"class="text-light link-underline link-underline-opacity-0">Signup</a>
    </button>
  </div>
</div>

{% endblock content %}
