{% extends "base.html" %} {% load static %} {% block content %}

<div class=" d-flex align-items-center flex-column text-light px-5 mt-4">
  <h1>{{category.name}}</h1>
</div>
<div class="container-fluid d-flex flex-column justify-content-between text-light mt-4 px-5">
  {% if category %}
  <div class="container-fluid d-flex flex-row justify-content-between">
    
    {% for product in prods %}
    <div class="container-fluid d-flex flex-row justify-content-center">
      
      <div class=" d-flex cat-img  align-items-center flex-column">
        <a class="img" href="{{product.get_absolute_url}}">
          {%if product.primary_image%}
          <img class="cat_img" src="{{product.primary_image.url}}" alt="{{product.name}}"/></a>
        <div class="mt-3 text-wrap"style="width:12rem">
          <p class="text-start">{{product.name}}</p>
        </div>
        {%endif%}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %} {% endblock %}
</div>
