{% extends "base.html" %} {% load static %} {% block content %}

<div class="text-light px-5">
  <h1>Guitars</h1>
</div>
<div class="container-fluid d-flex flex-column justify-content-between text-light mt-4 px-5">
    {% if guitars %}
    <div class="container-fluid d-flex flex-row justify-content-between">
    {% for guitar in guitars %}
    <div class="container-fluid d-flex flex-row">
      <div>
        <a class="img"><img class="cat_img" alt="{{guitar.name}}"/></a>
        <div>
          <h4>{{guitar.name}}</h4>
          <p>€{{guitar.price}}</p>
        </div>
      </div>
    </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  {% endblock %}
</div>
