{% extends "base.html" %} {% load static %} {% block metadescription %}
{{product.description|truncatewords:155 }} {% endblock %} {% block title %}
{{product.name }} {% endblock %} {% block content %}
<div class="d-flex justify-content-around flex-column mt-3">
  {% if error_message %}
<div class="alert alert-danger" role="alert">
    {{ error_message }}
</div>
{% endif %}
  <br />
  <div class="d-flex justify-content-around">
    <div class="text-light col-12 col-sm-12 col-md-12 col-lg-6">
      <div class="d-flex flex-column ">
        <h1>{{product.name}}</h1>
        <div class="d-flex align-items-center">
          <h2 class="me-2">{{ average_rating }}</h2>
          <h5>{{total_reviews}}</h5>
        </div>
        <div class=" d-flex flex-column align-items-center">
        <div>
          <img class="p_prod_img"src="{{product.primary_image.url}}"alt="{{product.name}}"/>
        </div>
        <div class="d-flex align-items-center">
          <img class="s_prod_img m-2"src="{{product.secondary_image1.url}}"alt="{{product.name}}"/>
          <img class="s_prod_img m-2"src="{{product.secondary_image2.url}}"alt="{{product.name}}"/>
          <img class="s_prod_img m-2"src="{{product.secondary_image3.url}}"alt="{{product.name}}"/>
          <img class="s_prod_img m-2"src="{{product.secondary_image4.url}}"alt="{{product.name}}"/>
        </div>
      </div>
    </div>
    </div>


    <div class="text-light ">
      <div class="d-flex flex-column">
        <h2>Similar Items</h2>
        <div class="scrollmenu d-flex">
            {% for featured_product in featured%}
            <div class="product-item">
                 <a class="img m-1 ms-3 mt-3" href="{{featured_product.get_absolute_url}}"><img class="cat_img" src="{{featured_product.primary_image.url}}" alt="{{featured_product.name}}"/></a>
            </div>
            {% endfor %}
          </div>
      </div>
      <h1 class="mt-4">€{{product.price}}</h1>
      <div class="d-flex justify-content-between mt-4">
        <p>Shipping incl.</p>
        {% if product.stock != 0%}
        <p class="text-success">In Stock</p>
        {%endif%}
      </div>
      {% if product.stock == 0%}
      <p><b>Out of Stock</b></p>
      {% else %}
      <div class="d-flex home_btn mb-4 mt-2">
        <a
          class="btn primary_button home_btn text-light"
          href="{% url 'cart:add_cart' product.id %}"
          >Add to Cart</a
        >
      </div>
      <hr/>
      <div class="d-flex home_btn mb-4 mt-2 justify-content-around">
        <a class="d-flex flex-column justify-content-center link-underline link-underline-opacity-0 text-light" href="{% url 'shop:add_compare' product.id %}"><i class="fa-solid fa-star d-flex  justify-content-center"></i>Compare product</a>
        <a class="d-flex flex-column justify-content-center link-underline link-underline-opacity-0 text-light" href="{% url 'shop:add_to_wishlist' product.id %}"><i class="fa-solid fa-star d-flex  justify-content-center"></i>Add to Wishlist</a>

      </div>
      <hr />
      
      <p> <i class="fa-solid fa-sack-dollar me-2 ms-3"></i>30 day money back guarantee</p>
      {% endif %}
    </div>
  </div>



  <div class="d-flex justify-content-around">
    <div class="desc text-light mt-5">
      <h3>Discription</h3>
      <p>{{product.description}}</p>
    </div>
    
    <div
      class="review d-flex form-group text-light justify-content-around flex-column mt-5"
    >
      <h3>Reviews</h3>

     

      {% for existing_review in page_obj.object_list %}
<div class="text-light">
  <a href="" class="link-underline link-underline-opacity-0 text-light">
    {{existing_review.user.username|title}}
  </a>
  <div>
    <p>{{existing_review.rating}}</p>
    <p>{{existing_review.review}}</p>
    <hr />
  </div>
{% endfor %}
          <center>
            {%if page_obj.has_previous %} 
                <a href="?page={{page_obj.previous_page_number}}"><i class="fa-solid fa-caret-left"></i></a> 
            {% endif %}
            <span>{{page_obj.number}}</span>
           
            {%if page_obj.has_next %} 
                <a href="?page={{page_obj.next_page_number}}"><i class="fa-solid fa-caret-right"></i></a> 
            {% endif %}
        </center>
      



          <div class="d-flex align-items-end">
            <form method="post" class="mt-4 text-light">
              {% csrf_token %} {% if existing_review %}
              <p></p>
              {% elif user.is_authenticated%} {% for field in form %}
              <div class="mb-3 d-flex justify-content-between">
                {{ field }} {% if field.errors %}
                <small class="text-danger">{{ field.errors|join:", " }}</small>
                {% endif %}
              </div>
              {% endfor %}
              <button id="submit_button" type="submit" class="btn btn-primary">Submit Review</button>
              {% else %}
              <p>Must be logged in to review</p>
              {% endif %}
            </form>
          </div>
          
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
