{% extends 'base.html' %}
{% block title %}Edit Account{% endblock title %}

{% block content %}
<div class="container account text-light mb-2 mt-4 px-5">
  <h2>Account</h2>
  <form method="post" class="mt-4">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-3 d-flex justify-content-between">
        {{ field.label_tag }}
        {{ field }}
      {% if field.errors %}
          <small class="text-danger">{{ field.errors|join:", " }}</small>
        {% endif %}
      </div>
    {% endfor %}
    <div class="d-flex justify-content-start">
    
      <button class="btn btn btn-outline-light m-2" type="submit">
      <a class="text-light link-underline link-underline-opacity-0"href="{% url 'password_reset' %}">Reset Password</a>
    </button>
    <button class="btn btn btn-outline-light m-2" type="submit">Update Profile</button>
  </div>
  </form>
</div>
{% endblock content %}
