{% extends 'base.html' %}
{% block title %}Your Account{% endblock title %}

{% block content %}
<div class="container text-light mb-2 mt-2 px-5">
  <h2>Account Overview</h2>

  <button class="btn btn btn-outline-light mt-5" type="submit">
    <a class="text-light link-underline link-underline-opacity-0"href="{% url 'accounts:account_edit' pk=object.user.id %}">Edit Account</a>
  </button>
  <button class="btn btn btn-outline-light mt-5" type="submit">
    <a class="text-light link-underline link-underline-opacity-0"href="{% url 'accounts:orders' %}">Orders</a>
  </button>
</div>
{% endblock content %}
