{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous"
        
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
        </style>
    <meta name="description" content="{% block metadescription %}{% endblock %}">
    
    <title>{% block title %}{% endblock %}</title>
</head>
    <body>
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
           
        <div class="base">
            {% include 'header.html' %}
            {% include 'footer.html' %}   
            {% include 'sidebar.html'%}
            {% block account_sidebar %}
            {% if show_account_sidebar %}
                {% include 'account_sidebar.html'%}
            {% endif %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/js/main.js"></script>
        <script src="/static/webpack_bundles/shop.js"></script>
        
    </body>
    <script src="https://kit.fontawesome.com/71e0b3e869.js" crossorigin="anonymous"></script>
</html>