<header id="header" class="header">
<div class=" d-flex align-items-center justify-content-between ms-3 me-3 ">

  <div class="justify-content-start" style="text-align: center">
    <a href="{% url 'shop:home' %}">
      <img class="logo" src="/media/Logo/GuitarLogo.png"/>
    </a>
  </div>


<div class ="d-flex align-items-center" id="buttons">

    <button class="head-btn text-light btn nav-link mx-2" type="button">
        <a class="text-light m-2 link-underline link-underline-opacity-0"href="{% url 'configurator:configurator' %}">Configurator</a>
    </button>
    <button class="head-btn text-light btn nav-link mx-2" type="button">
      <a class="text-light m-2 link-underline link-underline-opacity-0"href="{% url 'shop:compare' %}">Compare Products</a>
  </button>

    <button class=" mx-2 head-btn text-light btn dropdown-toggle"type="button"id="dropdownMenuButton1"data-bs-toggle="dropdown">
      Catagories
    </button>

    <ul class="dropdown-menu ">
        {% for cat in links %}
        <li>
          <a class="text-light dropdown-item" href="{{ cat.get_absolute_url }}">
            {{cat.name}}</a>
        </li>
        {% endfor %}
    </ul>

    <div class=" mx-5 d-flex text-light">
        <form class="nav-item" action="{% url 'search_app:searchResult' %}"method="get">
          <input class=" searchbar form-control"type="search"placeholder="Search"aria-label="Search"name="q"/>
        </form>
    </ul>
  </div>
</div>


    
    <div class="d-flex text-light align-items-center" id="login/cart">
        <a class="nav-link me-5" href="{% url 'cart:cart_detail' %}"><i class="fa-solid fa-cart-shopping fa-xl "></i>

        {% if item_count > 0 %}
          <a class="nav-link" href="{% url 'cart:cart_detail' %}"></a>
        {% endif %}</a>
        {%if user.is_authenticated %}
            <i class="fa-solid fa-user fa-xl me-3"></i>
            <a class=" nav-link me-2 " href="{% url 'accounts:account' pk=user.pk %}">Hi {{user.username}}</a>
        {% else %}
            <i class="fa-solid fa-user fa-xl me-3"></i>
            <a class="nav-link me-2 " href="{% url 'accounts:userlogin' %}">Log in</a>
        {% endif %}
    </div>

</div>
    
  </div>
</div>
</header>
