{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="text-light px-5">
        <img class="home_img mt-4" src="/media/home/Home_img.png" alt=""></img>
    <div class="d-flex justify-content-between">
          <button class=" home_btn btn btn btn-primary mt-2 me-1">
            <a class="text-light link-underline link-underline-opacity-0"href="#">Electrics</a>
          </button>
          <button class="home_btn btn btn btn-primary mt-2 me-1">
            <a class="text-light link-underline link-underline-opacity-0"href="#">Basses</a>
          </button>
          <button class="home_btn btn btn btn-primary mt-2 me-1">
            <a class="text-light link-underline link-underline-opacity-0"href="#">Acoustics</a>
          </button>
          <button class="home_btn btn btn btn-primary mt-2 me-1">
            <a class="text-light link-underline link-underline-opacity-0"href="#">Amps</a>
          </button>
          <button class="home_btn btn btn btn-primary mt-2">
            <a class="text-light link-underline link-underline-opacity-0"href="#">Pedals</a>
          </button>
        </div>
        
    </div>
{% endblock %}