{%load static%}
<head>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
</head>

<nav class="px-5 mt-1 mb-4">
    <div class="d-flex justify-content-start" style="width: 25rem">
      <button><a href="{% url 'configurator:configurator' %}">configurator</a></button>
      <button><a href="{% url 'shop:guitars' %}">Guitars</a></button>
        <button class="catagories text-light btn dropdown-toggle "type="button"id="dropdownMenuButton1"data-bs-toggle="dropdown"aria-expanded="false">
          Catagories
        </button>
        <ul class="nav-link text-light">
          <ul class="catagories dropdown-menu">
            {% for cat in links %}
            <li>
              <a class="text-light dropdown-item" href="{{ cat.get_absolute_url }}">
                {{cat.name}}</a>
            </li>
            {% endfor %}
          </ul>
          <div class="d-flex text-light">
            <form class="nav-item"style="width: 25rem"action="{% url 'search_app:searchResult' %}"method="get">
              <input class="form-control"type="search"placeholder="Search"aria-label="Search"name="q"
              />
            </form>
        </ul>
      </div>

</nav>