<div id="sidebar" class="sidebar d-flex justify-content-start flex-column align-items-start">

    <div id="top-sidebar" class="top-sidebar d-flex justify-content-start align-items-center text-light">

        <a class="text-light ms-2 me-3" href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa-solid fa-xmark fa-lg"></i></a>
        
        {% if user.is_authenticated %}
            <i class="fa-solid fa-user fa-xl"></i>
            <a class=" nav-link  ms-2" href="{% url 'accounts:account' pk=user.pk %}">Hi {{user.username}}</a>
        {% else %}
            <i class="fa-solid fa-user fa-xl me-3"></i>
            <a class="nav-link " href="{% url 'accounts:userlogin' %}">Log in</a>
        {% endif %}
    </div>

    <div class="ms-3 mt-5">
        {%if user.is_superuser%}
        <div class="">
            <a class="link-underline text-dark link-underline-opacity-0" href="/admin">
                <p>Admin Panel</p>
            </a>
    </div> 
        {%endif%}
        {% if user.is_authenticated %}
            <div class="">
                <a class="link-underline text-dark link-underline-opacity-0" href="{% url 'accounts:account_edit' pk=user.pk %}">
                    <p>Account Settings</p>
                </a>
        </div> 
        {%else%}
            <div class="">
                <a class="link-underline text-dark link-underline-opacity-0" href="{% url 'accounts:userlogin'%}">
                    <p>Account Settings</p>
                </a>
        </div>
        {% endif %}
        
        
        {%if user.is_authenticated %}
        <div>
            <a class="link-underline text-dark link-underline-opacity-0" href="{% url 'accounts:orders' %}">
                <p>Orders</p>
            </a>
        </div>
        {%else%}
        <div>
            <a class="link-underline text-dark link-underline-opacity-0" href="{% url 'accounts:userlogin' %}">
                <p>Orders</p>
            </a>
        </div>
        {%endif%}
        <div class="mt-3"> 
            <a class="link-underline text-dark link-underline-opacity-0" href="{% url 'cart:cart_detail' %}">
                <p>Cart</p>
            </a>
        </div>
        <hr/>
        <p>Categories</p>
        <ul>
            {% for cat in links %}
            <li>
                <a class="link-underline text-dark link-underline-opacity-0" href="{{ cat.get_absolute_url }}">
                    {{cat.name}}
                </a>
            </li>
            {% endfor %}
        </ul>
        <hr/>
        <div class="mt-3">
            <p>Gift Vouchers</p>
        </div>
        <div class="mt-3">
            <a class=" text-dark link-underline link-underline-opacity-0" href="{% url 'configurator:showroom' %}">Show room</a>
        </div>
        <div class="mt-3">
            <a class="text-dark link-underline link-underline-opacity-0" href="{% url 'shop:compare_detail' %}">Compare Products</a>
        </div>
        {%if user.is_authenticated%}
        <div class="mt-3">
            <a class="text-dark link-underline link-underline-opacity-0" href="{% url 'shop:wishlist_detail' %}">Wishlist</a>
        </div>
        {%else%}
        <div class="mt-3">
            <a class="text-dark link-underline link-underline-opacity-0" href="{% url 'accounts:userlogin' %}">Wishlist</a>
        </div>
        {%endif%}
        <div class="logout-side mb-5">
            <a class="text-dark link-underline link-underline-opacity-0" href="{% url 'logout' %}">
                <p class="font-weight-bold">Logout</p>
            </a>
        </div>
    </div>
</div>
