<div id="sidebar"class="sidebar d-flex justify-content-start flex-column align-items-start">

    <div id="top-sidebar" class="top-sidebar d-flex justify-content-start align-items-center text-light">

        <a class="text-light"href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa-solid fa-xmark fa-lg"></i></a>
        {%if user.is_authenticated %}
            <i class="fa-solid fa-user fa-xl me-3"></i>
            <a class=" nav-link  " href="{% url 'accounts:account' pk=user.pk %}">Hi {{user.username}}</a>
        {% else %}
            <i class="fa-solid fa-user fa-xl me-3"></i>
            <a class="nav-link " href="{% url 'accounts:userlogin' %}">Log in</a>
        {% endif %}
    </div>

    <div class="ms-2">
    <div class=" d-flex mt-5 align-items-center">
        {#<a href="{% url 'accounts:account_edit' pk=object.user.id %}">#}
        <p>Account Settings<p>
        </a>
    </div class=" d-flex mt-3 align-items-center">
    <div>
        <a href="{% url 'accounts:orders' %}">
        <p>Orders<p>
        </a>
    </div>
    <div  class=" d-flex mt-3 align-items-center"> 
        <a  href="{% url 'cart:cart_detail' %}">
        <p>Cart<p>
        </a>
    </div>
    <hr/>
    <div class=" d-flex mt-5 align-items-center">
        <p>Shop Electric Guitars<p>
    </div class=" d-flex mt-3 align-items-center">
    <div>
        <p>Shop Amps<p>
    </div>
    <div  class=" d-flex mt-3 align-items-center"> 
        <p>Shop Strings<p>
    </div>
    <hr/>
    <div class=" d-flex mt-5 align-items-center">
        <p>Gift Vouchers<p>
    </div class=" d-flex mt-3 align-items-center">
    <div>
        <p>Return Product<p>
    </div>
</div>
    

</div>
</div>