

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:#212121;
    margin-bottom: 60px;
}

nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

html {
    position: relative;
    min-height: 100%;
}

div.scrollmenu {
    
    width: 20rem;
    overflow: auto;
    white-space: nowrap;
    scrollbar-color: rgb(147, 147, 147) #212121;
}
    

.account{
    max-width: 40rem;
}
.header{
    background-color: rgb(0, 0, 0);
    height: 4.5rem;
}
.header-items{
    max-width: 90%;
}
.footer {
    position: absolute;
    bottom: 0;

}
.compare_img{
    max-width: 5rem;
}
.dropdown-menu{
    background-color: black;
}
.home{
    max-width: 80%;
}
.desc{
    max-width: 50%;
}

.base {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100%;
    background-color:#212121;
}
.login{
    width: 30rem;
}
.logo {
    max-width: 40%;
    min-width: 20%;
}
.home_btn{
    width: 100%;
}
.similar_img{
    max-height: 10rem;
}
.home_img{
    max-width: 100%;
}
.signup{
    width: 50rem;
}

.searchbar{
    height: 1.8rem;
    width: 20rem;
}
.cat_img{
    max-height: 15rem;
}
.prod_img{
    max-height: 35rem;
}
.review{
    max-width: 20rem;
}
.cart-side-div{
    min-width: 5rem;
}

.sidebar {
    position: absolute;
    right: 0;
    background-color: #E6E6E6;
    width: 270px ;
    min-height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    visibility :hidden;
    transition: width 0.4s;

}
.top-sidebar{
    min-width: 100%;
    min-height: 4rem;
    background-color:#0F4C75;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    visibility :hidden;
}
.logout-side{
    position: absolute;
    bottom: 0;
}
.account-sidebar{
    position: absolute;
    left: 0;
    background-color: #212121;
    width: 250px ;
    min-height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.user-setting{
    min-width: 100%;
}
.user-setting:hover{
    background-color: #868e96;
}
.account_container{
    background-color: #212121;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    min-width: 60%;
    min-height: 60%;
}


/*txt-fonts*/
p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h3{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h4{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
a{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}




/* cart design temp */

/****Cart Page****/
.my_custom_table {
    min-width: 400px;
    font-size: 14px;
}

.my_custom_thead {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #f8f9fa !important;
}

.custom_image {
    max-width:100%;
    max-height:100%;
}

.custom_a {
    text-decoration: none;
}

.custom_icon {
    text-decoration: none;
    color: #868e96 !important;
}

.my_custom_button {
    margin-top: 5px;
}
