body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 28, 28, 1);
    margin-bottom: 60px;
}

nav{
    display:flex;
    align-content: center;
    justify-content: space-between;
}
html {
    position: relative;
    min-height: 100%;
  }

.base {
    display:flex;
    justify-content: center;
    flex-direction: column;
    min-width: 60rem;;
    max-width: 80rem;
 
    background-color: rgba(28, 28, 28, 1);
}
.footer{
    position: absolute;
    bottom: 0;
    background-color: rgba(28, 28, 28, 1);
}

.catagories{
    background-color: rgba(64, 64, 64, 1);
}

