{% extends "base.html" %}
{% load static %}
{% block title %}Search{% endblock %}
{% block content %}
<div>
    <h4 class="text-center my_search_text text-light mt-5 mb-5">You have searched for: <b>"{{ query }}"</b></h4>
</div>
<div class="container d-flex align-items-center text-light px-5">
    <div class="container-fluid d-flex flex-row justify-content-between">
        {% for product in product_list %}
        <div class="container-fluid d-flex flex-row justify-content-center">
            <div class=" d-flex cat-img  align-items-center flex-column">
              <a class="img" href="{{product.get_absolute_url}}"><img class="cat_img" src="{{product.primary_image.url}}" alt="{{product.name}}"/></a>
              <div>
                <p>{{product.name}}</p>
              </div>
            </div>
          </div>
        {% empty %}
        <div class="row mx-auto">
            <p class="text-center my_search_text text-light">0 results found.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}